@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aclonica&display=swap");
:root {
  --primary-color: #ff5e3a;
  --default-color: #4f5665;
  --black-color: #000;
  --grey-color: #f0f0f0;
  --white-color: #fff;
  --lightpink: #ffcce0;
  --blue: #1a1aff;
  --custom: #1a1aff;
  --color: #4d4d4d;
  --lightblue: #ccccff;
  --box-shadow-1: 0 5px 15px rgba(0, 0, 0, 0.1);
  --box-shadow-2: 0 5px 15px rgba(255, 94, 58, 0.2);
  --gradient: linear-gradient(to bottom, #fccb90, #ff9a9e);
  --btn-gradient: linear-gradient(to bottom, #ff5151 50%, #ff5e3a);
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--black-color);
  background-color: var(--white-color);
}

h1,
h2,
h3,
h4 {
  color: var(--black-color);
  line-height: 1.2;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

section {
  padding: 5rem 0 5rem;
  overflow: hidden;
}

p {
  line-height: 3rem;
}

img {
  max-width:30%;
  height: auto;
}

/* ========== Custom Classes =========== */
.container {
  max-width: 120rem;
  padding: 0 3rem;
  margin: auto;
}

@media (min-width: 1600px) {
  .container {
    max-width: 160rem;
  }
}
@media (max-width: 567px) {
  .container {
    padding: 0 1rem;
  }
}
.d-flex {
  display: flex;
  align-items: center;
}
/* ========== User Form =========== */
.icon img {
  width: 20px;
}

.user-form {
  position: fixed;
  top: 50%;
  left: 50%;
  min-height: 100vh;
  width: 100%;
  background-color: var(--lightblue);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5;
  z-index: 10000;
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
  /* visibility: hidden; */
  transition: all 500ms ease-in-out;
  /* Functionality */
}
.user-form {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  visibility: visible;
  background-color: var(--lightpink);
}
.user-form .close-form {
  position: absolute;
  top: 10%;
  right: 10%;
  background-color: var(--white-color);
  color: var(--custom);
  justify-content: center;
  border-radius: 50%;
  padding: 1rem;
  font-size: 2.3rem;
  cursor: pointer;
}
.user-form .container {
  position: relative;
  width: 500px;
  height: 500px;
  background-color: white;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.user-form .user {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}
.user-form .img-box {
  position: relative;
  width: 50%;
  height: 100%;
  transition: all 500ms ease-in-out;
}
.user-form .img-box img {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
.user-form .form-box {
  position: relative;
  width: 50%;
  height: 100%;
  background-color: white;
  transition: 500ms ease-in-out;
}
.user-form .form-box .top {
  position: absolute;
  top: 14px;
  right: 14px;
}
.user-form .form-box .top p {
  font-size: 13px;
}
.user-form .form-box .top span {
  color: var(--custom);
  cursor: pointer;
}
.user-form form {
  position: absolute;
  top: 55%;
  left: 20%;
  width: 80%;
  max-width: 300px;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.user-form form .form-control:first-child {
  text-align: center;
}
.user-form form .form-control:first-child input {
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 10px 0;
  margin-bottom: 10px;
  text-indent: 16px;
  width: 100%;
  color: var(--color);
  outline: none;
}
.user-form form .form-control:first-child input[type="submit"] {
  display: block;
  text-align: center;
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: var(--custom);
  color: white;
  transition: 0.5s;
}
.user-form form .form-control:first-child input[type="submit"]:hover {
  background-color: var(--lightblue);
}
.user-form form .form-control:first-child h2 {
  width: 100%;
  font-weight: 400;
  font-size: 26px;
}
.user-form form .form-control:first-child p {
  font-size: 15px;
  margin-bottom: 20px;
}
.user-form form .form-control:first-child span {
  font-size: 13px;
  display: block;
  text-align: right;
  margin-bottom: 20px;
}
.user-form form .form-control:first-child div {
  position: relative;
}
.user-form form .form-control:first-child .icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
  cursor: pointer;
}
.user-form form .form-control:last-child {
  text-align: center;
}
.user-form form .form-control:last-child p {
  position: relative;
  display: inline-block;
  font-size: 14px;
}
.user-form form .form-control:last-child p::after {
  content: "";
  position: absolute;
  right: -50px;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 2px;
  background-color: #ddd;
}
.user-form form .form-control:last-child p::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 2px;
  background-color: #ddd;
}
.user-form form .form-control:last-child .icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.user-form form .form-control:last-child .icons .icon {
  cursor: pointer;
  width: 500px;
  height: auto;
}
.user-form form .form-control:last-child .icons .icon:not(:last-child) {
  margin-right: 15px;
}
.user-form .container .signup {
  pointer-events: none;
}
.user-form .container .signup .form-box {
  top: 100%;
}
.user-form .container .signup .img-box {
  top: -100%;
}
.user-form .container.active .signup {
  pointer-events: initial;
}
.user-form .container.active .signup .form-box {
  top: 0;
}
.user-form .container.active .signup .img-box {
  top: 0;
}
.user-form .container .login .form-box {
  top: 0;
}
.user-form .container .login .img-box {
  top: 0;
}
.user-form .container.active .login .form-box {
  top: 100%;
}
.user-form .container.active .login .img-box {
  top: -100%;
}
@media (max-width: 996px) {
  .user-form .container {
    max-width: 400px;
  }
  .user-form .container .img-box {
    display: block;
  }
  .user-form .container .form-box {
    width: 100%;
  }
  .user-form .container.active .login .form-box {
    top: -100%;
  }
}
@media (max-width: 567px) {
  .header .navbar .row .nav-list a.user-link {
    display: block;
  }

  .user-form {
    padding: 0;
  }
  .user-form .close-form {
    top: 10px;
    right: 10px;
    padding: 0.7rem;
    font-size: 2.3rem;
  }
}

/*# sourceMappingURL=styles.css.map */
